body {
  margin: 0;
  font-family: 'Rubik';
  background-color: #dcd0ff;
}

.logo-container {
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Optional: Add padding for spacing */
}

.main-logo {
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
}
  
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
    
#searchInput {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-family: 'Rubik';
}
  
.search-results {
  list-style-type: none;
  padding: 0;
  width: 200px;
  overflow-y: auto;
}
  
.search-results li{
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
  
.search-results li:last-child{
  border-bottom: none;
}

.icons-container {
  display: flex;
}
  
.icons-container i {
  margin: 0 15px; /* Adjust this value for spacing */
  cursor: pointer;
  margin-right: 25px;
}

.shipping img {
  width: 75px; /* Adjust the width as needed */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
}

.cart img,
.login img {
  width: 40px; /* Adjust the width as needed */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
}
  
.autocomplete-results {
  position: absolute;
  top: 100%; /* Position it right below the search bar */
  left: 0;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  z-index: 1;
}
  
.autocomplete-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
  
.autocomplete-item:hover {
  background-color: #f0f0f0;
}

.login-container {
  text-align: center;
  justify-content: center;
}

.login-form {
  display: inline-block;
  text-align: left;
  border: 1px solid #ccc; /* Border styling */
  padding: 100px;
  border-radius: 10px;
  background-color: white;
  width: 40%;
}

.checkout-form h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #762EEA;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Rubik';
  width: 100%;
}

.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.cart-container h2 {
  margin: 30px 30px 30px 30px;
}

.cart-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  max-width: 1200px;
  border-radius: 15px;
}

.item-details {
  flex-grow: 1;
  max-width: 500px;
}

form i {
  margin-left: -30px;
  cursor: pointer;
}

p {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: small;
}

h2 {
  text-align: center;
}

.login-form h4 {
  margin: 10%;
  text-align: center;
  color: red;
}

/* success page */

.order-confirmation {
  /*height: 75vh;  Full viewport height */
  display: flex;
  flex-direction: column; /* make orders stack vertically */
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.order-item {
  background-color: #f0f1f1;
  color: #762EEA;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  width: 800px; /* fixed width */
  height: 100%; /* dynamic height */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.order-item li {
  font-size: 16px;
}

hr {
  border: 1px solid #762EEA;
  border-radius: 5px;
  margin: 100px 100px 100px 100px;
  /*margin-right: 100px;*/
}

/* add card page */


